@import "tailwindcss";

@theme {
  --color-border: var(--color-gray-200);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200);
  }
}

@media print {
  .best-times-print {
    padding: 0;
  }
  @page {
    size: landscape;
    margin: 1cm;
  }
  .best-times-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    display: inline-block;
  }
}

@media screen {
  .best-times-header {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    white-space: nowrap;
    display: inline-block;
    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.65rem;
  }
}
